body {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 15px;
}

.list-header {
  font-weight: 700;
  cursor: pointer;
}

.list-content {
  background-color: #d8f6ef;
}

.accordion-body {
  display: none;
}
