.container {
	display: inline;
	margin: 50px 150px;
	padding: 50px 150px;
	max-width: 1000px;
	height: 100px;
	background-color: #000;
}

#parent input {
	color: red;
}

.colored {
	color: green;
}
.txtd {
	text-decoration: underline;
}
.font {
	font-weight:bold;
}
.col {
	color: red;
}

ul {
	padding: 30px;
	border: 1px solid red;
}
li {
	list-style-type: none;
	margin-bottom: 20px;
	border: 1px dashed black;
}