:root {
  --color: firebrick;
  --border-color: firebrick;
  --shadow-color: rgb(112, 20, 20);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background-color: #222222;
  font-family: 'Press Start 2P';
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#button {
  width: 200px;
  height: 75px;
  font-family: 'Press Start 2P', monospace;
  color: #ffffff;
  background-color: var(--color);
  position: relative;
  font-size: 32px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 50px;
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 9px var(--shadow-color),
    3px 6px var(--shadow-color), 6px 3px var(--shadow-color),
    0px 9px var(--shadow-color), -3px 6px var(--shadow-color),
    -6px 3px var(--shadow-color);
}

#button:active {
  top: 6px;
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 6px var(--shadow-color),
    3px 3px var(--shadow-color), 6px 0px var(--shadow-color),
    0px 6px var(--shadow-color), -3px 3px var(--shadow-color),
    -6px 0px var(--shadow-color);
}

#display,
#counter {
  height: 32px;
}
